html {
  font-family: "Avenir Next", -apple-system, "Segoe-UI", "Noto Sans", sans-serif;
  font-size: 16px;
}

h1 {
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 6rem;
  margin: 0 0 24px;
  color: #1a1b1f;
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 3rem;
  margin: 0;
  color: #1f1f20;
}

p {
  max-width: 600px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
  margin: 0 0 24px 0;
  color: #7b7b7b;
}

a {
  margin-right: 32px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 48px;
  letter-spacing: 0.05rem;
  text-decoration-line: underline;

  color: #0066ff;
}
/* 
.hello {
  font-size: 6rem;
} */

.container {
  display: flex;
  padding: 10% 10% 0 10%;
  flex-direction: column;
  /* width: 80%; */
}

/* .portfolio-cont {
  display: grid;
  grid-template-columns: 2fr 1fr;
} */

.contact-links {
  display: flex;
  flex-direction: row;
}

.portfolio-item {
  display: grid;
  grid-template-areas: "img content" "img content" "img content";
  grid-column-gap: 2.5rem;
  align-items: center;

  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 2rem;

  /* cursor: pointer; */
  box-shadow: none;
  transition: 0.3s ease-in-out;
}
.portfolio-item:hover {
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.15);
}
.portfolio-content {
  grid-area: content;
  padding: 0 2rem 0 0;
}

.portfolio-img {
  max-width: 300px;
}
