html {
  font-family: Poppins;
  font-size: 16px;
}

h1 {
  font-weight: bold;
  font-size: 6em;
  line-height: 168px;
  margin: 0;
  color: #2d2d2d;
}

p {
  font-weight: 300;
  font-size: 1.15em;
  line-height: 2em;
  margin: 0 0 24px 0;
  color: #727272;
}

a {
  margin-right: 32px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 48px;
  letter-spacing: 0.05em;
  text-decoration-line: underline;

  color: #0066ff;
}

.container {
  display: flex;
  padding: 10% 10% 0;
  flex-direction: column;
  width: 60%;
}

.contact-links {
  display: flex;
  flex-direction: row;
}

.portfolio-item {
  display: grid;
  grid-template-areas: "img content" "img content" "img content";
  grid-column-gap: 2.5em;
  align-items: center;

  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 64px;

  cursor: pointer;
  box-shadow: none;
  transition: 0.5s ease-in-out;
}
.portfolio-item:hover {
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.15);
}
.portfolio-content {
  grid-area: content;
}
